*{
    margin:0;
    padding: 0;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 67, 165);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: #ffffff;
    padding: 50px 40px;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 20px 20px 30px black;
}
 label{
    font-weight: 500;
    color: #101030;
 }
 input{
    display: block;
    width:100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: #101130;

 }

 #password{
    margin-top: 10px;
 }
 input[type="password"]{
    border: 2px solid #c2c2c2;
 }

input[type = "button"]{
    background-color: #7f3fff;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}

p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
   
}
    

